// Enable Singularity
singularity.enabled = true

// Set Output Directory
params {
    outdir = "${projectDir}/data"
}

// Specify the Singularity image
process.container = "${projectDir}/cactus_v2.9.3_w_plrs.sif"

// Bind the project directory
singularity.runOptions = "--bind $projectDir:$projectDir"
singularity.runOptions = "--bind $HOME:$HOME"

// Maximum number of CPUs to use
// process.cpus = 20

// Maximum amount of memory to use
// process.memory = '80 GB'

// Enable process execution reports
process.errorStrategy = { 
    sleep(Math.pow(2, task.attempt) * 200 as long) 
    return 'retry' 
}
process.maxRetries = 5
